<!doctype html>
<html>
  <head>
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta charset="utf-8">
    <meta content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport">

    <title><%= current_page.data.title || "Aske" %></title>

    <style>
      body {
        background: url("<%= image_path('background.jpg') %>") no-repeat center center fixed;
        background-color: #2A4146;
        background-size: cover;
      }

      #hero {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
      }

      .hide {
        visibility: hidden;
      }
    </style>

    <%= stylesheet_link_tag :site, rel: 'preload', as: 'style', onload: 'this.rel="stylesheet"' %>
    <%= javascript_include_tag :all, async: true, defer: true %>

  </head>

  <body class="<%= page_classes %>">
    <%= yield %>
  </body>

</html>
